<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- <link rel="stylesheet" type="text/css", href="/css/popUp.css"> -->
        <link rel="stylesheet" type="text/css", href="/css/inputElement.css">
    </head>

    <body>
        <form action="/updateProfile/<%= data._id %>" method="post" name="updateProfile">
            <div class="form">
                <div class="header">Edit Profile</div>
                <div class="element">
                    <label  for="newName">Name</label>
                    <input id="newName" value="<%=data.name%>" name="name" type="text" >
                </div>
                <div class="element">
                    <label  for="newNickName">Nick Name</label>
                    <input id="newNickName" value="<%=data.details.nickname%>" name="nickname" type="text" >
                </div>
                <div class="element">
                    <label  for="phoneNumber">PhoneNumber</label>
                    <input id="phoneNumber" value="<%=data.details.phoneNumber%>" name="phoneNumber" type="text" >
                </div>
                <div class="element">
                    <label  for="lineID">LineID</label>
                    <input id="lineID" value="<%=data.details.LineID%>" name="lineID" type="text" >
                </div>
                <div class="element">
                    <label  for="grade">Grade</label>
                    <input id="grade" value="<%=data.details.grade%>" name="grade" type="number" step="any" >
                </div>
                <div class="element">
                    <label  for="foodAllergy">Food Allergy</label>
                    <input id="foodAllergy" value="<%=data.details.foodAllergy%>" name="foodAllergy" type="text" >
                </div>
                <div class="element">
                    <label  for="medicineAllergy">Medicine Allergy</label>
                    <input id="medicineAllergy" value="<%=data.details.medicineAllergy%>" name="medicineAllergy" type="text" >
                </div>

                <div class="element">
                    <label for="department">Choose Your Department</label>
                    <select name="department" id="type-tag">
                        <option value="<%=data.details.department%>"><%=data.details.department%></option>
                        <% if (data.details.department == "CPE") { %>
                            <p class="profile-name">
                                <option value="DDT">DDT</option>
                            </p>
                        <%} else { %>
                            <p> <option value="CPE">CPE</option> </p>
                        <% } %>
                    </select>
                </div>

                <div class="element">
                    <button type="submit">Update</button>
                </div>
            </div>
        </form>
    </body>
</html>
