<!DOCTYPE html>

<html>
  <head>
    <meta charset= "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css", href="/css/profileCard.css">
    <link rel="stylesheet" type="text/css", href="/css/search-bar.css">
    <link rel="stylesheet" type="text/css", href="/css/content.css">
    <link rel="stylesheet" type="text/css", href="/css/style.css">
    <link rel="stylesheet" type="text/css", href="/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <header>
    <a href="/" class="logo">ProfileProject</a>
        <input type="checkbox" id="menu-bar">
        <label for="menu-bar">Menu</label>
        <div class="topnav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/showProfile">ProfileList</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/editProfile">Edit Profile</a></li>
            </ul>
        </div>
  </header>
  
  <body>
    <div class="container"><h1>Student & Teacher</h1></div>
      
      <div class="container">
        <form action="" class="search-bar">
          <input type="text" placeholder="Search anything" name="search" onkeyup="searchData()" id="user-search">
          <i class="fa fa-search"></i>
        </form>
      </div>
    
    <section class="list-profile">
      <div class="all-user">
            <% if(data.length){
              for(var i = 0; i < data.length; i++) {%> 
                  <div class="profile">
                      <a href="/showProfile/details/<%=data[i]._id%>">
                        <div class="profile-info"> 
                          <div class="imgContainer"><img  src="/images/user.png"></div>
                          <h4 class="profile-email">
                            <%= data[i].email%>
                          </h4>
                          <p class="profile-name">
                            <%= data[i].name%>
                          </p>
                          <% if (typeof(data[i].details.department) != "undefined") { %>
                            <p class="profile-department">
                              <%= data[i].details.department%>
                            </p>
                          <%} %>
                          <p class="profile-tag">
                            <%= data[i].tag%>
                          </p>
                          <p class="profile-roles">
                            <%= data[i].roles%>
                          </p>
                        </div>
                      </a>
                  </div>
               <% }
            }%> 
      </div>
    </section>
    <script src="/javascript/search.js"></script>
  </body>
</html>